.recharts-sector,
.recharts-layer,
.recharts-pie-labels {
	outline: none !important;
}

/* Recharts 스타일 오버라이드 */
.recharts-wrapper .recharts-text.recharts-pie-label-text {
	fill: #333; /* 파이 차트 내부 텍스트 색상 */
}

/* 커스텀 툴팁 스타일 */
.recharts-default-tooltip {
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	border-radius: 8px !important;
	padding: 10px !important;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
	color: #333 !important; /* 기본 글자색 설정 */
}

.recharts-tooltip-item {
	color: #333 !important; /* 내부 아이템 글자색 설정 */
	font-family: 'font', sans-serif !important; /* 프로젝트 기본 폰트 적용 */
}

/* 커스텀 범례 스타일 */
.sentiment-legend {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.legend-item {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
}

.legend-color {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
}