.circle-graph-container {
	background-color: #fff; /* 흰색 배경 */
	padding: 20px;
	border-radius: 10px;
	color: #333; /* 기본 텍스트 색상 */
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #e0e0e0; /* 밝은 회색 테두리 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* 부드러운 그림자 효과 */
	width: 600px;
}

/* Recharts 스타일 오버라이드 */
.recharts-wrapper .recharts-legend-item-text {
	color: #333 !important; /* 범례 텍스트 색상 */
}

.recharts-wrapper .recharts-text.recharts-pie-label-text {
	fill: #333; /* 파이 차트 내부 텍스트 색상 */
}

/* 커스텀 툴팁 스타일 */
.recharts-default-tooltip {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 8px !important;
    padding: 10px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
    color: #333 !important; /* 기본 글자색 설정 */
}

.recharts-tooltip-item {
    color: #333 !important; /* 내부 아이템 글자색 설정 */
    font-family: 'font', sans-serif !important; /* 프로젝트 기본 폰트 적용 */
}
