.home-nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-nav-wrapper {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    margin: 0 auto;
}

.home-nav-logo a {
    display: flex;
    align-items: center;
}

.home-logo-image {
    height: 30px;
    width: auto;
}

.home-nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home-login-button {
    background-color: transparent;
    color: #011526;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-login-button:hover {
    transform: translateY(-1px);
}

.home-logout-button {
    background-color: transparent;
    color: #011526;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-logout-button:hover {
    transform: translateY(-1px);
}

.home-signup-button {
    background-color: transparent;
    color: #011526;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-signup-button:hover {
    transform: translateY(-1px);
}

.home-dashboard-button {
    background-color: transparent;
    color: #011526;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-dashboard-button:hover {
    transform: translateY(-1px);
}